:root {
  --bgprimary: #eee;
  --bgsecondary: #d7d7d7;
  --textprimary: #222;
  --textsecondary: #555;
  --primary: #f573d4;
  --secondary: #61a4b2;
}

body {
  background-color: var(--bgprimary);
  font-family: "JetBrains Mono SemiBold", serif;
}
