* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --bgprimary: #eee;
  --bgsecondary: #d7d7d7;
  --textprimary: #222;
  --textsecondary: #555;
  --primary: #f573d4;
  --secondary: #61a4b2;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--bgprimary);
  font-family: "JetBrains Mono SemiBold", serif;
}

header {
  width: 1200px;
  margin: auto;
}

header > h1 {
  font-size: 32px;
  line-height: 1.2;
  color: var(--textprimary);
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

main {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
}

.todo-add {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 8px;
}

.todo-textarea {
  padding: 8px 16px;
  background-color: var(--bgsecondary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--textprimary);
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.todo-textarea:focus,
.todo-textarea:focus-visible {
  outline: 2px solid var(--primary);
}

.todo-textarea::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: var(--textsecondary);
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: 16px;
  gap: 8px;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--textprimary);
  padding: 8px;
  border-radius: 8px;
}

.todo-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

.todo-checkbox {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.todo-checkbox:checked {
  border: 2px solid var(--primary);
}

.todo-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--textprimary);
  text-align: left;
  flex: 1;
}

.todo-buttons {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.btn {
  padding: 8px 16px;
  background-color: var(--primary);
  border-radius: 8px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: var(--bgsecondary);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  filter: hue-rotate(30deg);
  border: 2px inset solid var(--primary);
}

.btn:active {
  outline: 2px solid var(--primary);
}
